*{
	margin: 0;
	padding: 0;
	box-sizing : inherit;
}

html {
	font-size: 62.5%;
	box-sizing : border-box;
}

body {
   	font-family : 'Press Start 2P', sans-serif;
	color: #eee;
	background-color: #222;
}


header{ 
	/* relative : 원래 위치 기준으로 상대적으로 배치 */
	position: relative; 
	height: 35vh;
	border-bottom: 7px solid #eee;
}
/*   align-items ,  justify-content   : 둘다  flex가 적용되어있을 때 사용*/
/*   align-items : 수직축 방향으로 정렬 justify-content :  메인축 방향으로 정렬 */
main {
	height: 65vh;
	color: #eee;
	display: flex;
	align-items: center;
	/* space-around : 아이템들의 "둘레(around)"에 균일한 간격 만들어줌*/
	justify-content: space-around;
}

.left{
	width: 52rem;
	display:flex;
	/* flex-direction : 배치되는 축의 방향을 결정 column : ↓ */
	flex-direction: column;
	align-items: center;
}
.right {
	width: 52rem;
	font-size: 2rem;
}


h1 {
	font-size: 4rem;
	text-align: center;
	/* absolute : 위치를 절대적으로 맞춘다.
	주의 사항 : 상위 요소에서 배치기준 설정.만약 상위 (static 이 아닌)요소 없으면 최상위 요소 기준*/
	position: absolute;
	width: 100%;
	top: 52%;
	left: 50%;
	/* transform :  translate(x,y) 요소를  x축 과 y축 만큼 이동시킴 */
	/* 이경우에는 position: absolute 로 상위 header 요소에 묶여있고
	   header 자기 원래 위치 기준으로 x축,y축 만큼 이동*/
	transform: translate(-50%,-50%);
}

.number {
	background: #eee;
	color : #333;
	font-size: 6rem;
	width: 15rem;
	padding: 3rem 0rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,50%);
}
.between {
	font-size: 1.4rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.again {
	position : absolute;
	top: 2rem;
	left: 2rem;
}

.guess {
	background : none;
	border: 4px solid #eee;
	/* inherit : 부모 요소로부터 받아오기 */
	font-family: inherit;
	color : inherit;
	font-size: 5rem;
	padding: 2.5rem;
	width: 25rem;
	text-align: center;
	/* block : 영역 전체를 나타낸다(기본 값: width :100%; height: 100%; */
	display: block;
	margin-bottom: 3rem;
}

.btn {
	border: none;
	background-color: #eee;
	color: #222;
	font-size: 2rem;
	font-family: inherit;
	padding: 2rem 3rem;
	cursor : pointer;
}

.btn : hover {
	background-color: #ccc;
}

.message {
	margin-bottom: 8rem;
	height: 3rem;
}
.label-score {
	margin-bottom: 2rem;
}